.levelOne{
    color: var(--color-lvl-1);
    font-size: var(--font-size-escritorio);
}
.levelTwo{
    color: var(--color-lvl-2);
    font-size: var(--font-size-escritorio-nivel-2);
}

.levelThree{
    color: var(--color-lvl-3);
    font-size: var(--font-size-escritorio-nivel-3);
}
.levelFour{
    color: var(--color-lvl-4);
    font-size: var(--font-size-escritorio-nivel-4);
}
.levelFive{
    color: var(--color-lvl-5);
    font-size: var(--font-size-escritorio-nivel-5);
}
.levelSix{
    color: var(--color-lvl-6);
    font-size: var(--font-size-escritorio-nivel-6);
}
:is(.levelOne,.levelTwo,.levelThree,.levelFour,.levelFive,.levelSix){
    padding: .5rem var(--padding);
    margin: 0;
}
/* Mobile */
@media (max-width: 700px) {
    .levelOne{
        font-size: var(--font-size-mobile);
    }
    .levelTwo{
        font-size: var(--font-size-mobile-nivel-2);
    }
    .levelThree{
        font-size: var(--font-size-mobile-nivel-3);
    }
    .levelFour{
        font-size: var(--font-size-mobile-nivel-4);
    }
    .levelFive{
        font-size: var(--font-size-mobile-nivel-5);
    }
    .levelSix{
        font-size: var(--font-size-mobile-nivel-6);
    }
}
  
/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    
}