.about{
    display: grid;
    place-content: center;
    /* background: rgb(53, 68, 57); */
    grid-auto-flow: row;
    row-gap: 1rem;
    width: 100%;
    padding: 5rem 0;
    overflow: hidden;
    color: var(--color-primario);
    padding: 1rem;
}
.vets{
    display: flex;
    flex-direction: column;
}
.listVets{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    column-gap: 2rem;
}


ul.list-functions{
    list-style: circle inside;
    padding: 1rem;
    margin: 0;
}
.titulo-secundario{
    font-size: 2rem;
    color: var(--color-primario);
    text-align: center;
    margin-bottom: 40px;
}
p{
    color: var(--color-primario);
    font-size: 1.5rem;
    text-align: justify;
    margin: 0;
}